<!-- <p>vaccine-management works!</p> -->

<div class="row m-3 d-flex justify-content-around">
    <div class="col-3">
        <div class="container text-light bg-primary">
            <h3>Vaccines Remaining Covaxin</h3>
            <br>
            <h3>1000&ensp;<span class="material-icons">medication</span></h3>
        </div>
    </div>

    <div class="col-3">
        <div class="container text-light bg-primary">
            <h3>Vaccines Remaining Covishield</h3>
            <br>
            <h3>1000&ensp;<span class="material-icons">medication</span></h3>
        </div>
    </div>
</div>
<br>
<br>
<div class="row m-3 d-flex justify-content-center">
    <div class="col-3">
        <div class="container text-light bg-success">
            <h3>Resources Available</h3>
            <br>
            <h3>1000&ensp;<span class="material-icons">single_bed</span></h3>
            <br>
            <h3>1000&ensp;O<sub>2</sub> Cylinders</h3>
        </div>
    </div>
</div>
<br>
<br>
<div class="row m-3 d-flex justify-content-center">
    <div class="col-4">
        <div class="container text-light bg-dark">
            <h3>Order Vaccines</h3>
            <br>
            <form class="form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label for="covaxin"><h4>Covaxin</h4></label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" id="covaxin" name="covaxin" type="number">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label for="covishield"><h4>Covishield</h4></label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" id="covishield" name="covishield" type="number">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4 mx-auto">
                            <button type="submit" class="btn btn-block btn-success">Request</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>