<!-- <p>dashboard works!</p> -->

<div class="row">
    <div class="col-2">
        <div class="sidebar">
            <nav class="navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-item" href="#"><h5>Dashboard</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="#"><h5>Profile</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="#"><h5>Dashboard</h5></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item" href="#"><h5>Dashboard</h5></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-10">
        <div class="row">
            <div class="col-4">
                <div class="container">
                    <h2>Welcome, ______ !</h2>
                </div>
            </div>
        </div>
    </div>
</div>