<!-- <p>dashboard works!</p> -->

<div class="row">
    <div class="col-2">
        <div class="sidebar">
            <nav class="navbar navbar-collapse navbar-dark">
                <h2>Welcome, ______ !</h2>
                <ul class="navbar-nav">
                    <li class="nav-item"> 
                        <a class="nav-link" routerLinkActive="active" href="#"><span class="material-icons">insert_chart_outlined</span>&emsp;Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/', 'dashboard', 'vaccine-management']"><span class="material-icons">medication</span>&emsp;Vaccine Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" href="#"><span class="material-icons">person</span>&emsp;Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" href="#">Dashboard</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-10">
        <router-outlet></router-outlet>
    </div>
</div>