<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row w-25 my-5 custom-border" style="background: lightgray;">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center pt-2">
                        <h3 class="h3">Login</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                            <div class="row offset-1">
                                <div class="col-10">
                                    <div class="form-group">
                                        <input name="email" id="email" type="email" class="form-control" placeholder="Enter Email" autocomplete="off" autocomplete="off" ngModel required email>
                                    </div>
                                </div>
                            </div>
                            <div class="row offset-1">
                                <div class="col-10">
                                    <div class="form-group">
                                        <input name="password" id="password" type="password" class="form-control" placeholder="Enter Password" ngModel required>
                                    </div>
                                </div>
                            </div>
                            <div class="row offset-1">
                                <div class="col-10">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-6 ">
                                            <div class="form-group">
                                                <button class="btn btn-success btn-block" type="submit" [disabled]="loginForm.invalid">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h5>Don't have an account? <a class="dark-link" [routerLink]="['/', 'authenticate', 'signup']">Sign Up!</a></h5>
    </div>
</div>