#form-container {
    background-color: white;
    border-radius: 15px;
}

form {
    margin-top: 3%;
}

input.ng-touched.ng-invalid {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@media screen and (max-width: 767px) {
    
    .w-25 {
        width: 100vw;
    }
    
}